<!DOCTYPE html>
<html>

<head>
    <title>Credit Card Fraud Detection</title>
</head>

<body>

    <h1>Credit Card Fraud Detection 🚀</h1>

    <form action="/predict" method="post">

        <input type="text" name="feature1" placeholder="Enter Value 1" required><br><br>

        <input type="text" name="feature2" placeholder="Enter Value 2" required><br><br>

        <input type="text" name="feature3" placeholder="Enter Value 3" required><br><br>

        <input type="text" name="feature4" placeholder="Enter Value 4" required><br><br>

        <input type="text" name="feature5" placeholder="Enter Value 5" required><br><br>

        <input type="submit" value="Predict">

    </form>

    <h2>{{ prediction_text }}</h2>

</body>

</html>